.pagination-container {
  margin-top: 25px;
}
.pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}
.pagination-list-item {
  list-style-type: none;
  margin: 0px 5px;
}

.pagination-page-number-btn {
  color: #03ac13;
  font-family: 'Roboto';
  background-color: transparent;
  border: 1px solid #03ac13;
  border-radius: 3px;
  padding: 8px 12px;
  outline: none;
  cursor: pointer;
}
.pagination-page-number-btn-active {
  color: #fff;
  background-color: #03ac13;
  border: none;
}
.pagination-next-and-prev-btn {
  color: #fff;
  background-color: #03ac13;
  font-family: 'Roboto';
  padding: 8px 12px;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
}
.pagination-next-and-prev-active {
  color: #03ac13;
  background-color: transparent;
  border: 1px solid #03ac13;
}
