.movie-details-bg-container {
  background-color: #00010e;
  min-height: 100vh;
}
.movie-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}
@media screen and (min-width: 768px) {
  .movie-details-container {
    padding-top: 120px;
  }
}
.movie-detail-responsive-container {
  width: 90%;
}
@media screen and (min-width: 1200px) {
  .movie-detail-responsive-container {
    width: 80%;
  }
}
.movie-image-and-detail-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .movie-image-and-detail-container {
    flex-direction: row;
  }
}
.back-drop-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  overflow: hidden;
  pointer-events: none;
}
.back-drop-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.movie-image-container {
  flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .movie-image-container {
    margin-bottom: 25px;
  }
}
.movie-image {
  width: 100%;
  border-radius: 12px;
}
@media screen and (min-width: 768px) {
  .movie-image {
    max-width: 350px;
  }
}
.movie-detail-container {
  font-family: 'Roboto';
  color: #fff;
}
@media screen and (min-width: 768px) {
  .movie-detail-container {
    margin-left: 50px;
  }
}
.movie-title {
  font-family: 'Roboto';
  color: #fff;
  font-size: 28px;
  line-height: 40px;
}
@media screen and (min-width: 768px) {
  .movie-title {
    font-size: 34px;
    line-height: 44px;
  }
}
.movie-tag-line {
  font-family: 'Roboto';
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
  font-style: italic;
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .movie-tag-line {
    font-size: 20px;
    line-height: 28px;
  }
}
.movie-genre-list {
  padding-left: 0px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.movie-genre {
  color: #fff;
  background-color: #da2f68;
  list-style-type: none;
  margin-right: 5px;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 4px;
  font-weight: 500;
}
.movie-rating-and-video-container {
  display: flex;
  margin-bottom: 25px;
}
.movie-video-play-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-left: 25px;
}

.movie-play-icon-container {
  border: 3px solid #fff;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .movie-play-icon-container {
    width: 70px;
    height: 70px;
  }
}
.play-icon {
  color: #fff;
  font-size: 40px;
}
.play-icon:hover {
  color: #da2f68;
}
@media screen and (min-width: 768px) {
  .play-icon {
    font-size: 50px;
  }
}
.movie-video-play-btn:hover {
  color: #da2f68;
}
.movie-video-play-btn:hover .play-icon {
  color: #da2f68;
}
.movie-video-play-btn:hover .movie-play-icon-container {
  border-color: #da2f68;
}
.popup-content {
  background: transparent;
  border: none;
  width: 100%;
}
@media screen and (min-width: 769px) {
  .popup-content {
    width: 800px;
  }
}
.video-popup-container {
  display: flex;
  flex-direction: column;
}
.movie-video-close-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  align-self: flex-end;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.unavailable-video-container {
  background-color: #fff;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .unavailable-video-container {
    height: 300px;
  }
}
.unavailable-video-text {
  color: #000;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .unavailable-video-text {
    font-size: 24px;
  }
}
.video-player-container {
  width: 100%;
  height: 100%;
}
.movie-detail-circular-progress-bar-container {
  background-color: #041226;
  font-weight: bold;
  font-family: 'Roboto';
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .movie-detail-circular-progress-bar-container {
    width: 70px;
    height: 70px;
  }
}
.movie-overview-container {
  margin-bottom: 25px;
}
.movie-overview-heading {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Roboto';
  color: '#fff';
}
.movie-overview {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto';
  color: '#fff';
}
@media screen and (min-width: 768px) {
  .movie-overview {
    padding-right: 100px;
  }
}
.movie-info-container {
  border-bottom: 1px solid #e1ffe11a;
  padding: 15px 0;
  display: flex;
}
.movie-stats-container {
  display: flex;
  margin-right: 10px;
  flex-wrap: wrap;
}
.movie-infos-heading {
  font-weight: 600;
  line-height: 24px;
  margin-right: 10px;
}
.movie-infos {
  margin-right: 10px;
  opacity: 0.5;
  line-height: 24px;
}
.movie-details-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.cast-details-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
.movie-cast-container {
  margin-bottom: 25px;
}
.cast-container-heading {
  font-family: 'Roboto';
  font-size: 24px;
  color: #fff;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .cast-container-heading {
    font-size: 30px;
  }
}
.movie-details-failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}
.cast-details-failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
}
.movie-details-failure-view-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  color: #fff;
  font-family: 'Roboto';
  text-align: center;
}
.movie-details-failure-view-image {
  width: 90%;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .movie-details-failure-view-image {
    width: 500px;
    max-width: 550px;
  }
}
.movie-details-failureV-view-heading {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
}
.movie-details-failure-view-description {
  opacity: 0.5;
  font-size: 16px;
  margin-bottom: 25px;
}
.failure-view-btn {
  color: #fff;
  font-size: 'Roboto';
  font-weight: 600;
  font-size: 16px;
  border-radius: 16px;
  padding: 10px 24px;
  background-image: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
  border: none;
  outline: none;
  cursor: pointer;
}
